* {
   margin: 0;
   padding: 0;
  box-sizing: border-box;
}

main {
  height: 92vh;
  background: rgb(34,35,66);
  background: linear-gradient(180deg, rgba(34,35,66,1) 0%, 
              rgba(34,35,66,0.6699054621848739) 35%, 
              rgba(170,168,168,0.6306897759103641) 100%);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #222342;
  font-family: 'Dosis', sans-serif;
  color: white;
}

.logo {
   color: white;
   text-transform: uppercase;
   letter-spacing:  5px;
   font-size: 1.4rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style-type: none;  
}

.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burguer {
  display: none;
  cursor: pointer;
}

.burguer div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body {
    overflow-x: hidden;
  }
  
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #222342;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }
  
  .burguer {
    display: block;
  }
}

.nav-active {
  transform: translate(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
